///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .s-home
  {
    background: red;
  }
}
@include mobile-landscape-and-up
{
  .s-home
  {
    background: green;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .s-home
  {
    background: blue;
  }
}
@include tablet-landscape-and-up
{
  .s-home
  {
    background: orange;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .s-home
  {
    background: pink;
  }
}