///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .s-login
  {
    background: url("../assets/images/layout/paper_fibers@2X.png") top left repeat;
    height:     100%;
  }
  .s-login-container
  {
    padding: 20px;
  }
}
@include mobile-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
}
@include tablet-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .s-login
  {
    background-image: url("../assets/images/layout/paper_fibers.png");
  }
}