///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .s-login
  {
    background: url("../assets/images/layout/paper_fibers@2X.png") top left repeat;
    height:     100%;
  }
  .s-login-container
  {
    display:           flex;
      align-items:     stretch;
      flex-direction:  column;
      justify-content: center;
    height:            100%;
    padding:           3vh;
  }
  .s-login-logo
  {
    color:         $primary-color;
    font-family:   Pacifico, Arial, Helvetica, sans-serif;
    font-size:     2.4rem;
    margin-bottom: 3vh;
    text-align:    center;
    text-shadow:   0 0.06em 0.03em $primary-color-dark;
  }
  .s-login-form
  {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(#000000, 0.2);
    padding:    2vh;
  }
  .s-login-form-error
  {
    color:      $color-red-error;
    display:    none;
    text-align: center;
  }
  .s-login-form-field
  {
    @extend %textfield;
    
    display:       block;
    margin-bottom: 2vh;
    padding:       10px;
    width:         100%;
  }
  .s-login-form-submit
  {
    @extend %button;
    
    padding: 10px;
    width:   100%;
    
    span
    {
      @extend %button-label;
    }
  }
}
@include mobile-landscape-and-up
{
  .s-login-container
  {
    padding: 3vw;
  }
  .s-login-form
  {
    padding: 2vw;
  }
  .s-login-form-content
  {
    display:           flex;
      align-items:     stretch;
      justify-content: space-between;
    width:             100%;
  }
  .s-login-form-field
  {
    display:       inline-block;
    flex-basis:    0;
    flex-grow:     1;
    margin-bottom: 2vw;
    
    &:not(:first-child)
    {
      margin-left: 2vw;
    }
  }
  .s-login-form-submit
  {
    flex-basis: 0;
    flex-grow:  1;
    margin:     0 0 2vw 2vw;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
}
@include tablet-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .s-login
  {
    background-image: url("../assets/images/layout/paper_fibers.png");
  }
}