/////////////////////////////////////////////////////////////////////////////////
// ENVIRONNEMENT
/////////////////////////////////////////////////////////////////////////////////
$debug: false;

/////////////////////////////////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////////////////////////////////


/*
 * Greyscales palette
 */
$color-black:     #000000;
$color-grey-5pc:  darken(#FFFFFF, 5%);
$color-grey-15pc: darken(#FFFFFF, 15%);
$color-grey-30pc: darken(#FFFFFF, 30%);
$color-grey-50pc: darken(#FFFFFF, 50%);
$color-grey-70pc: darken(#FFFFFF, 70%);
$color-white:     #FFFFFF;

/*
 * Sematic palette
 */
$color-error: #CD0000;

/*
 * Theme palette
 */
$primary-color:        #900E3E;
$primary-color-dark:   #6A0D2F;
$primary-color-light:  #AD2A5A;
$primary-color-text:   #212121;
$accent-color:         #0DC1C1;
$secondary-color-text: #727272;
