.signup
{
  background: url("../assets/images/layout/paper_fibers@2X.png") top left repeat;
  height:     100%;
}
.signup-container
{
  display:           flex;
    align-items:     center;
    flex-direction:  column;
    justify-content: center;
  height:            100%;
  padding:           20px;
}
.signup-logo
{
  color:         $primary-color;
  font-family:   Pacifico, Arial, Helvetica, sans-serif;
  font-size:     2.4rem;
  margin-bottom: 40px;
  text-align:    center;
  text-shadow:   0 0.06em 0.03em $primary-color-dark;
  user-select:   none;
}
.signup-form
{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(#000000, 0.2);
  padding:    20px;
  width:      350px;
}
.signup-form-content
{
  display: block;
}
.signup-form[data-state="already-exists"]
{
  .signup-form-error[data-id="already-exists"]
  {
    display: block;
  }
}
.signup-form[data-state="invalid"]
{
  .signup-form-error[data-id="invalid"]
  {
    display: block;
  }
}
.signup-form[data-state="unexpected-error"]
{
  .signup-form-error[data-id="unexpected-error"]
  {
    display: block;
  }
}
.signup-form-error
{
  color:      $color-error;
  display:    none;
  text-align: center;
}
.signup-form-field
{
  @extend %textfield;

  display:       block;
  margin-bottom: 20px;
  margin-left: 0 !important;
  width:         100%;
}
.signup-form-button
{
  width: 100%;

  &:not(:last-child)
  {
    margin-bottom: 20px;
  }
}
.signup-form-button--link
{
  @extend %button-standard;
}
.signup-form-button--submit
{
  @extend %button-primary;
}
