///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  .signup
  {
    background: url("../assets/images/layout/paper_fibers@2X.png") top left repeat;
    height:     100%;
  }
  .signup-container
  {
    display:           flex;
      align-items:     stretch;
      flex-direction:  column;
      justify-content: center;
    height:            100%;
    padding:           3vh;
  }
  .signup-logo
  {
    color:         $primary-color;
    font-family:   Pacifico, Arial, Helvetica, sans-serif;
    font-size:     2.4rem;
    margin-bottom: 3vh;
    text-align:    center;
    text-shadow:   0 0.06em 0.03em $primary-color-dark;
    user-select:   none;
  }
  .signup-form
  {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(#000000, 0.2);
    padding:    2vh;
  }
  .signup-form[data-state="already-exists"]
  {
    .signup-form-error[data-id="already-exists"]
    {
      display: block;
    }
  }
  .signup-form[data-state="invalid"]
  {
    .signup-form-error[data-id="invalid"]
    {
      display: block;
    }
  }
  .signup-form[data-state="unexpected-error"]
  {
    .signup-form-error[data-id="unexpected-error"]
    {
      display: block;
    }
  }
  .signup-form-error
  {
    color:      $color-red-error;
    display:    none;
    text-align: center;
  }
  .signup-form-field
  {
    @extend %textfield;

    display:       block;
    margin-bottom: 2vh;
    padding:       10px;
    width:         100%;
  }
  .signup-form-submit
  {
    @extend %button-standard;

    width: 100%;
  }
}
@include mobile-landscape-and-up
{
  .signup-container
  {
    padding: 3vw;
  }
  .signup-form
  {
    padding: 2vw;
  }
  .signup-form-content
  {
    display:           flex;
      align-items:     stretch;
      justify-content: space-between;
    width:             100%;
  }
  .signup-form-field
  {
    display:       inline-block;
    flex-basis:    0;
    flex-grow:     1;
    margin-bottom: 2vw;

    &:not(:first-child)
    {
      margin-left: 2vw;
    }
  }
  .signup-form-submit
  {
    flex-basis: 0;
    flex-grow:  1;
    margin:     0 0 2vw 2vw;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
}
@include tablet-landscape-and-up
{
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  .signup
  {
    background-image: url("../assets/images/layout/paper_fibers.png");
  }
  .signup-container
  {
    align-items: center;
  }
  .signup-form
  {
    width: 350px;
  }
  .signup-form-content
  {
    display: block;
  }
  .signup-form-field
  {
    margin-left: 0 !important;
  }
  .signup-form-submit
  {
    margin: 0;
  }
}
