.s-category
{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(#000000, 0.2);
  padding:    30px;
}
.s-category-header
{
  &:not(:last-child)
  {
    margin-bottom: 30px;
  }
}
.s-category-header-input
{
  @extend %textfield;

  display: block;
  width:   100%;
}
