<section class="todolist" v-bind:class="{ 'is-collapsed': isCollapsed }">
  <h2 class="todolist-title" v-on:click="onTitleClick">{{data.name}}</h2>
  <div class="todolist-content">
    <component-task :data="{name: 'task name'}"></component-task>
    <component-task :data="{name: 'task name'}"></component-task>
    <component-task :data="{name: 'task name'}"></component-task>
    <component-task :data="{name: 'task name'}"></component-task>
    <component-task :data="{name: 'task name'}"></component-task>
    <component-task :data="{name: 'task name'}"></component-task>
  </div>
</section>
