doctype html
html
  head
    //- NOTE: uncomment the line below for internationalized pages
    //- base(href="../")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
      title Titre de la page
    link(rel="stylesheet", href="css/main.css?bust=@@CACHE_BUST")
    script(src="js/vendors.js?bust=@@CACHE_BUST")
    script(src="js/main.js?bust=@@CACHE_BUST")
    block components
  body
    main#main
      block content
