doctype html
html(lang="fr-FR")
  head
    base(href="../")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
      title Titre de la page
    link(rel="stylesheet", href="vendors/normalize-css/normalize.css?bust=@@CACHE_BUST")
    link(rel="stylesheet", href="css/main.css?bust=@@CACHE_BUST")
  body
    include ../includes/common/header.jade
    main#main
      block content
    include ../includes/common/footer.jade
    script(src="vendors/system.js/dist/system.js?bust=@@CACHE_BUST")
    script(src="js/system.js?bust=@@CACHE_BUST")
