extends layouts/default.jade

block title
  title [@@ENV] Accueil

block content
  section.app
    section.app-wrapper
      nav.app-wrapper-nav 
        component-nav
      section.app-wrapper-content
        main#main.app-wrapper-content-main
