extends layouts/default.jade

block title
  title [@@ENV] Accueil

block components
  +component("example/example")

block content
  section.app
    header.app-header app-header
    section.app-wrapper
      nav.app-wrapper-nav app-nav
      section.app-wrapper-content
        main.app-wrapper-content-main#main
