extend ./layouts/public.jade

block title
  title [@@ENV] Connexion

block content
  section.login
    div.login-container
      form.login-form(name='loginForm', v-on:submit='onFormSubmit', v-el:loginform='')
        div.login-logo Pimp My Tasks
        p.login-form-error(data-id='invalid') Veuillez vérifier les champs en rouge.
        p.login-form-error(data-id='bad-credentials') Vos identifiants sont incorrects.
        p.login-form-error(data-id='unexpected-error') Une erreur a eu lieu, veuillez réessayer ultérieurement.
        div.login-form-content
          input.login-form-field(type='email', name='email', placeholder='Email')
          input.login-form-field(type='password', name='password', placeholder='Mot de passe')
          button.login-form-button.login-form-button--submit(type='submit') Se connecter
          a.login-form-button.login-form-button--link(href='signup.html') Aller à la page d'inscription

block scripts
  script(src="js/login.js")
