extend ./layouts/public.jade

block title
  title [@@ENV] Signup

block content
  section.signup
    div.signup-container
      form.signup-form(name='signupForm', v-on:submit='onFormSubmit', v-el:signupform='')
        div.signup-logo Pimp My Tasks
        p.signup-form-error(data-id='invalid') Veuillez vérifier les champs en rouge.
        p.signup-form-error(data-id='already-exists') Un compte existe déjà pour cet email.
        p.signup-form-error(data-id='unexpected-error') Une erreur a eu lieu, veuillez réessayer ultérieurement.
        div.signup-form-content
          input.signup-form-field(type='text', name='username', placeholder="Nom d'utilisateur")
          input.signup-form-field(type='email', name='email', placeholder='Email')
          input.signup-form-field(type='password', name='password', placeholder='Mot de passe')
          input.signup-form-field(type='password', name='passwordConfirm', placeholder='Confirmez votre mot de passe')
          button.signup-form-button.signup-form-button--submit(type='submit') S'inscrire
          a.signup-form-button.signup-form-button--link(href='login.html') Aller à la page de connexion

block scripts
  script(src="js/signup.js")
