@import "../../sass/base/variables";
@import "../../sass/ui/button";

:host
{
  display: block;
  position: relative;
  width: 300px;
}
.component-app-nav
{
  background: #FAFAFA;
  display:    block;
  position:   absolute;
    bottom:   0;
    left:     0;
    right:    0;
    top:      0;
}
.component-app-nav-content
{
  display:           flex;
    align-items:     stretch;
    flex-direction:  column;
    justify-content: space-between;
  height:            100%;
}
.component-app-nav-add
{
  @extend %button-primary;

  text-align: center;

  &:hover
  {
    background: #FFFFFF;

    svg
    {
      fill: $primary-color;
    }
  }
}
.component-app-nav-add-icon
{
  display: inline-block;
  height:  24px;
  width:   24px;

  svg
  {
    display:    block;
    fill:       #FFFFFF;
    height:     100%;
    transition: fill 0.3s ease;
    width:      100%;
  }
}
