<nav class="nav">
  <div class="nav-container">
    <div class="nav-content">
      <div class="nav-items">
        <component-nav-item :label="todo.label" v-for="todo in todos"></component-nav-todo>
      </div>
      <div class="nav-add">
        <button class="nav-add-button" type="button" v-on:click="onAddBtnClick" v-show="!isAddingTodo">
          Ajouter une liste de tâches
        </button>
        <input class="nav-add-input" placeholder="Nom de la liste" type="text" v-on:blur="onAddComplete" v-on:keyup.enter="onAddComplete" v-show="isAddingTodo" v-el:input>
      </div>
    </div>
  </div>
</nav>
