<nav class="nav">
  <div class="nav-container">
    <div class="nav-content">
      <div class="nav-items">
        <component-nav-item :label="item.name" :id="item.idcategory" v-for="item in categories" v-on:delete="onNavItemDelete(item)"></component-nav-item>
      </div>
      <div class="nav-add">
        <button class="nav-add-button" type="button" v-on:click="onAddBtnClick" v-show="!isAddingCategory">
          Ajouter une catégorie
        </button>
        <input class="nav-add-input" placeholder="Nom de la catégorie" type="text" v-on:blur="onAddComplete" v-on:keyup.enter="onAddComplete" v-show="isAddingCategory" v-el:input>
      </div>
    </div>
  </div>
</nav>
